[Unit]
Description=badvpn-tun2socks
After=network.target
# Requires=socketssh-tun.service

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/badvpn
PIDFile=/run/badvpn-tun2socks.pid
ExecStart=/usr/local/bin/badvpn-control start
ExecStopPost=/usr/local/bin/badvpn-control stop

[Install]
WantedBy=multi-user.target