[client]
port=3307
default-character-set = utf8
socket = /data/mysql57/3307/mysql.sock
password={{mysql_root_password}}


[mysqld]
port=3307
bind-address = 0.0.0.0

# 初始化mysql时不认,启动时也不认(5.7) 
character-set-client = utf8

# 初始化mysql时不认此参数 
character-set-server = utf8 
# 初始化mysql时不认此参数
collation-server = utf8_general_ci

socket = /data/mysql57/3307/mysql.sock
pid-file = /data/mysql57/3307/mysql.pid

basedir = /opt/mysql57
datadir = /data/mysql57/3307/data
tmpdir = /data/mysql57/3307/tmp

# 存在大量提交时建议关闭提交(默认开启)
autocommit=off

# 第一个ibdata 必定是一个固定大小的，若在启动后修改，则需要设置与实际大小一致，不能多也不能少，第二个则不受限制(默认是下12M)
innodb_data_file_path=ibdata1:512M;ibdata2:512M:autoextend

# 常规日志，记录所有成功的语句(默认关闭,不建议开启)
general_log=on
general_log_file=/data/mysql57/3307/logs/server2.log

# 错误日志,记录数据库的一般状态及报错信息,是我们对于数据库常规报错处理的常用日志 
log-error=/data/mysql57/3307/logs/mysqld.log

# 禁用dns解析(只能使用ip)
skip-name-resolve

# 二进制日志控制 start
server_id = 10

# sync_binlog 为1时, 每次提交都会向磁盘中写入数据(bin-log目录最好和数据目录分开),最安全但是性能损耗最大,不建议开启 
sync_binlog=0
log-bin = /data/mysql57/3307/binlog/mysql-bin
binlog_format = row

# 主从同步重连时间(默认3600s)，从库多长时间未收到主库传来的Binary Logs events后从而判定超时,slaveIO线程重连,越频繁建议设置越小 
slave_net_timeout = 5

## 启用GTID,不启用则为普通复制 
gtid-mode=on 
## 强制GTID的一致性 
enforce-gtid-consistency=true
## slave 强制刷新从库的二进制日志 
log-slave-updates=1


# 二进制日志控制 end

# 打开并记录慢日志 
slow_query_log = ON
slow_query_log_file = /data/mysql57/3307/logs/slow.log
# 设定超过多少时间(s)的sql会被记录,一般不会超过1秒
long_query_time = 0.5
# 不使用索引的慢查询日志是否记录到索引
log_queries_not_using_indexes = on
# 查询结果小于多少行的将不会记录,此参数需要参考者设置  
# min_examined_row_limit=100


